In [25]:
import pandas as pd
from bs4 import BeautifulSoup as bs 
import requests
import re

In [26]:
web = 'https://www.airlinequality.com/airline-reviews/british-airways'
html = requests.get(web)

In [27]:
soup = bs(html.content, 'html.parser')

In [28]:
reviewbox = soup.find('article',{'itemprop':'review'})

- date 
- name
- place
- aircraft
- type of traveller
- seat type
- route
- date flown
- seat comfort
- cabin staff service
- food and beverages
- inflight entertainment
- ground service
- value for money
- recocmmended
- ratingvalue
- oneline
- para

In [29]:
#date, name, place, aircraft, type of traveller, seat type, route, date flown, seat comfort, cabin staff service, food and beverages, inflight entertainment, ground service, value for money, recocmmended, ratingvalue, oneline, para
date = [reviewbox.find('meta',{'itemprop':'datePublished'})['content']]
date

['2024-06-23']

In [30]:
subline = soup.find('h3', {'class': 'text_sub_header userStatusWrapper'})
name = [subline.find('span', {'itemprop': 'name'}).text]

# Extract the place
place = soup.find('h3').text.strip()
match = re.search(r'\((.*?)\)', place)  #Learn regex properly
place = [match.group(1)]
place

['Canada']

In [31]:
row = date + name + place
row

['2024-06-23', 'J Fang', 'Canada']

In [35]:
# full_table =  reviewbox.find('table')
# full_table_tr =full_table.find_all('tr')
# tr = []
# for i in full_table_tr:

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [9]:
table = reviewbox.find('table')
td = table.find_all('td')
for elem in range(1,10,2):
    row.append(td[elem].text)

for elem in range(11,len(td)-1,2):
    stars = td[elem].find_all('span',{'class':'star fill'})[-1].text
    row.append(stars)
    # print(stars)
    # row.append(stars.text)

21

In [212]:

rev = reviewbox.find('div',{'itemprop':'reviewRating'})
review = rev.find('span').text
row.append(review)

In [213]:
body = reviewbox.find('h2').text.replace('"',"")
body

'happy to recommend BA'

In [214]:
row.append(body)

In [215]:
para = reviewbox.find('div',{'class':'text_content'}).text
verify, paragraph = para.split("|",1)

In [216]:
row.append(verify)

In [217]:
row.append(paragraph)

In [36]:
def onerow(reviewbox):

    # reviewbox = soup.find('article',{'itemprop':'review'})
    date = [reviewbox.find('meta',{'itemprop':'datePublished'})['content']]
    subline = reviewbox.find('h3', {'class': 'text_sub_header userStatusWrapper'})
    name = [subline.find('span', {'itemprop': 'name'}).text]

    # Extract the place
    place = reviewbox.find('h3').text.strip()
    match = re.search(r'\((.*?)\)', place)  #Learn regex properly
    place = [match.group(1) if match else '']

    row = date + name + place
    parameters = {
        'aircraft': '',
        'type_of_traveller': '',
        'seat_type': '',
        'route': '',
        'date_flown': '',
        'seat_comfort': '0',
        'cabin_staff_service': '0',
        'food_and_beverages': '0',
        'inflight_entertainment': '0',
        'ground_service': '0',
        'value_for_money': '0',
        'recommended': '',
        'ratingvalue': '0',
        'review_title': '',
        'verification': '',
        'review_content': ''
    }

    table = reviewbox.find('table')
    if table:
        r = table.find_all('tr')
        for row_elem in r:
            header = row_elem.find('td', {'class': 'review-rating-header'})
            value_td = row_elem.find('td', {'class': 'review-value'})
            stars_td = row_elem.find('td', {'class': 'review-rating-stars'})

            if header and value_td:
                key = header['class'][1]
                value = value_td.text.strip()
                parameters[key] = value
                
            elif header and stars_td:
                key = header['class'][1]
                stars = stars_td.find_all('span', {'class': 'star fill'})
                parameters[key] = str(len(stars))
        

    rev = reviewbox.find('div',{'itemprop':'reviewRating'})
    review = rev.find('span').text.strip() if rev else ''
    parameters['ratingvalue'] = review

    
    body = reviewbox.find('h2').text.replace('"',"").strip()
    parameters['review_title'] = body

    para = reviewbox.find('div',{'class':'text_content'}).text.strip()
    verify, paragraph = para.split("|",1) if "|" in para else ('', para)
    parameters['verification'] = verify.strip()
    parameters['review_content'] = paragraph.strip()

    row.extend([
        parameters['aircraft'],
        parameters['type_of_traveller'],
        parameters['seat_type'],
        parameters['route'],
        parameters['date_flown'],
        parameters['seat_comfort'],
        parameters['cabin_staff_service'],
        parameters['food_and_beverages'],
        parameters['inflight_entertainment'],
        parameters['ground_service'],
        parameters['value_for_money'],
        parameters['recommended'],
        parameters['ratingvalue'],
        parameters['review_title'],
        parameters['verification'],
        parameters['review_content']
    ])

    return row

In [61]:
page_no = 10
page_size = 100
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
def run(page_no, page_size, base_url):
    rows=[]
    for i in range(1,page_no+1):
        url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"    
        html = requests.get(url)
        soup = bs(html.content, 'html.parser')
        fullbox = soup.find_all('article',{'itemprop':'review'})
        for reviewbox in fullbox:
            rows.append(onerow(reviewbox))
        print(f"   ---> {len(rows)} total reviews")
    return row
run(page_no, page_size, base_url)

   ---> 100 total reviews
   ---> 200 total reviews
   ---> 300 total reviews
   ---> 400 total reviews
   ---> 500 total reviews
   ---> 600 total reviews
   ---> 700 total reviews
   ---> 800 total reviews
   ---> 900 total reviews
   ---> 1000 total reviews

['2024-06-23', 'J Fang', 'Canada']

In [38]:
reviewbox

<article class="comp comp_media-review-rated list-item media position-content review-894161" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
<meta content="2024-04-25" itemprop="datePublished"/>
<div class="rating-10" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
<span itemprop="ratingValue">1</span>/<span itemprop="bestRating">10</span>
</div>
<div class="body" id="anchor894161">
<h2 class="text_header">"mock and insult your passengers"</h2>
<h3 class="text_sub_header userStatusWrapper">
<span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<a class="userStatus globetrotter" href="/reviewer/reviewer-signup"><span class="userStatusReviewCount">18 reviews</span><svg class="userStatusIcon" version="1.1" viewbox="0 0 307.3 193.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<path d="M157.9,95c-13.1,5.5-26.3,11.1-38.5,16c-21,8.4-42.4,16-65.1,18.7c-16,1.5-26.5-1-31.6-9.7C15.6,104.3,8.2,88.7,1.1,72.9
                C-2.5,64.8,3.3,61.5,11,62c3.2,0.2,6.6,2.1,9.5,4c8.3,5.6,16.4,11.4,24.4,17.5c5,3.8,9.8,4.1,15.4,1.6c30.8-13.5,61.6-27,92.4-40.3
                c30.4-13.2,60.7-26.4,91.3-39.1c16.9-7,34.3-8.1,51.3-0.1c3.8,1.8,7.2,4.7,10.5,7.4c4.9,4.1-2.8,12.5-21.8,22.7
                c-20.9,10.7-46,22.5-67,33c0,0-31.8,67.3-46.9,99.2c-5.4,11.6-12.7,21.1-25.6,25c-4.4,1.3-5.9,0.5-5.1-4.2
                c1.3-8.1,2.8-16.1,4.4-24.1C147.8,143.9,157.1,98.5,157.9,95z"></path>
<path d="M151.7,31.5c-14.3,6.2-30.4,13.2-43.7,18.8c0,0-29.9-17.6-43.4-25.8c-1.6-0.9-2.5-2.8-3.8-4.3c1.4-1,2.6-2.2,4.1-3.1
                c9.9-5.7,20.4-5.7,31-2.8C113.6,19.3,138,27,151.7,31.5z"></path>
</svg></a>
<span itemprop="name">G Reyes</span></span> (United Kingdom) <time datetime="2024-04-25" itemprop="datePublished">25th April 2024</time></h3>
<div class="tc_mobile">
<div class="text_content" itemprop="reviewBody">✅ <strong><a href="https://www.airlinequality.com/verified-reviews/"><em>Trip Verified</em></a></strong> |  Very inconsiderate PA announcements were made by a purser who appearingly decided to exchange his career at BA for comedy club acting, although not at the right setting. First pre-landing PA: “My colleague and I had a very long week with British Airways, so we are dimming the lights as we don’t want you to see our faces. If you are afraid of the dark - just look at the passenger next to you”. Although clearly not the purser’s intent, it sounded like a mocking and very careless of people with aero / darkness phobias who may have a panic attack after such a joke. Very inconsiderate and damages BA’s brand as a safe, accessible and a trusted airline. Second PA after landing was: “if you’d like to make a complaint, go call EasyJet”. I felt genuinely insulted by this “joke”. BA charged an abusive fee. In the end, I literally had to beg the rude and dismissive ground staff in Madrid not to check my roller bag at gate because I recently had surgery and needed to hold onto it to walk. Instant noodles which I purchased onboard were barely edible. All cabin crew except from one disappeared at the galley where they were loudly chatting and laughing and looked at me as a nuisance even when I just wanted to pass through them to visit the lavatory. And then the chief purser effectively announces that if anyone is unhappy they can go fly someone else. Wake up, BA! You are already worse than EasyJet and Ryanair in terms of value for money!! I note that only ones who found the purser’s jokes funny were the other cabin crew who made a few vulgar laughs, while passengers remained dead silent. I can understand airlines scaling back services to cut costs. I will never understand how you can allow your staff to openly mock and insult your passengers. I am a BA Silver member and have been a loyal BA customer for years. A disgrace.</div>
<div class="review-stats">
<table class="review-ratings">
<tr><td class="review-rating-header aircraft">Aircraft</td><td class="review-value">A320</td></tr>
<tr><td class="review-rating-header type_of_traveller">Type Of Traveller</td><td class="review-value">Business</td></tr>
<tr><td class="review-rating-header cabin_flown">Seat Type</td><td class="review-value">Economy Class</td></tr>
<tr><td class="review-rating-header route">Route</td><td class="review-value">Madrid to London Heathrow</td></tr>
<tr><td class="review-rating-header date_flown">Date Flown</td><td class="review-value">April 2024</td></tr>
<tr>
<td class="review-rating-header seat_comfort">Seat Comfort</td>
<td class="review-rating-stars stars"><span class="star fill">1</span><span class="star fill">2</span><span class="star fill">3</span><span class="star">4</span><span class="star">5</span></td>
</tr>
<tr>
<td class="review-rating-header cabin_staff_service">Cabin Staff Service</td>
<td class="review-rating-stars stars"><span class="star fill">1</span><span class="star">2</span><span class="star">3</span><span class="star">4</span><span class="star">5</span></td>
</tr>
<tr>
<td class="review-rating-header food_and_beverages">Food &amp; Beverages</td>
<td class="review-rating-stars stars"><span class="star fill">1</span><span class="star">2</span><span class="star">3</span><span class="star">4</span><span class="star">5</span></td>
</tr>
<tr>
<td class="review-rating-header ground_service">Ground Service</td>
<td class="review-rating-stars stars"><span class="star fill">1</span><span class="star fill">2</span><span class="star">3</span><span class="star">4</span><span class="star">5</span></td>
</tr>
<tr>
<td class="review-rating-header wifi_and_connectivity">Wifi &amp; Connectivity</td>
<td class="review-rating-stars stars"><span class="star fill">1</span><span class="star fill">2</span><span class="star fill">3</span><span class="star fill">4</span><span class="star">5</span></td>
</tr>
<tr>
<td class="review-rating-header value_for_money">Value For Money</td>
<td class="review-rating-stars stars"><span class="star fill">1</span><span class="star">2</span><span class="star">3</span><span class="star">4</span><span class="star">5</span></td>
</tr>
<tr><td class="review-rating-header recommended">Recommended</td><td class="review-value rating-no">no</td></tr> </table>
</div>
</div>
</div>
<a class="toggle-click tc_mobile_only" href="#anchor894161"></a>
</article>

In [39]:
headers = [
    'date', 'name', 'place', 'aircraft', 'type_of_traveller', 'seat_type', 'route', 'date_flown', 
    'seat_comfort', 'cabin_staff_service', 'food_and_beverages', 'inflight_entertainment', 
    'ground_service', 'value_for_money', 'recommended', 'ratingvalue', 'review_title', 
    'verification', 'review_content'
]

In [62]:
rows[3]

['2024-06-18',
 'N Thomas',
 'United Kingdom',
 '',
 'Couple Leisure',
 '',
 'London Heathrow to Keflavik',
 'June 2024',
 '2',
 '3',
 '1',
 '0',
 '3',
 '2',
 'no',
 '2',
 'cancelled our return flight',
 'Not Verified',
 "We travel extensively over 25 years and tend to use BA on our regular trips where possible and in recent years we have had overall good service from them however more recently we have experienced flight delays, operational issues, flight cancellations, poor check-in experiences etc. On our last two recent trips, one to Zurich and another to Iceland they had cancelled our return flight an hour or so prior to the scheduled departure time despite the flight showing as on time and no problems being reported. We have just returned from Iceland and our experience was one of the worst we have ever had with BA. Again our flight was just cancelled due to operational reasons but what made matters worse on this occasion was the flight was quite early at 7:45am. We went to bed at around 11pm (night before), checked the flight and it showed as being on time with again no issues being reported so we went to sleep fairly rest assured the the flight would be fine. We woke up at 5:30am and then discovered our flight had been cancelled without any warning! We were then left with virtually no other return flight options for that day. It soon got worse as the earliest flight option then being offered by BA was 3 days later! We opted to choose Tuesday with BA as we were left with no other option! If we hadn't acted quickly the Tuesday availability was sure to sell out leaving us with a return option of Wednesday onwards having experienced the same problem with BA in Zurich back in December. We were lucky on this occasion as BA offered several flights back on the same day in Zurich but this wasn't the case with Iceland! We were then left in a right predicament as hotel availability in Iceland was very limited to non existent given the very short notice of our cancelled flight. Our hotel was fully booked and our hire car had to be returned to the airport. From a logistical point of view this was a complete nightmare having to then rebook another hire car and to find alternative hotels. We then decided to search for any in-direct flights online to get us back to the UK sooner with another airline and after a good half hour of searching we came across an in-direct flight into Gatwick with Norwegian Air but it went via Oslo and a total journey time of 8 hours! This was not ideal as our car was in Heathrow! Assessing our options which were virtually none, we had no guarantees that the flight with BA on Tuesday would also have proceeded on time and checking with Norwegian Air both flights were on time and looked promising so we decided to get these booked at an additional expense of £600! If we had stayed in Iceland we would have also incurred additional cost to then fight back with BA or the insurance company. Our priority was to return home ASAP as we had important work and personal commitments on the Monday so we had to return ASAP. We eventually flew back fine with Norwegian Air and the service we received was far superior to that of BA. The boarding process was slick on both flights compared to a complete shambles with BA. Norwegian Air offered a full food trolley service with soft drinks, tea's and also a range of alcoholic drinks. Compare this to just the water and snack bar on BA!! Both flights were on time and we eventually landed in Gatwick shortly after our expected arrival time. We got back very late home after having to then book a hire car at Gatwick and in the morning we contacted BA to cancel our alternative Tuesday flight"]

In [63]:
df = pd.DataFrame(rows, columns=headers)

In [64]:
df.head()

,date,name,place,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_and_beverages,inflight_entertainment,ground_service,value_for_money,recommended,ratingvalue,review_title,verification,review_content
0,2024-06-23,J Fang,Canada,A350-1000,Solo Leisure,,London Heathrow to Vancouver,June 2024,2,2,1,2,2,1,no,3,cannot recommend BA,✅ Trip Verified,While BA may have made some positive improveme...
1,2024-06-23,J Fang,Canada,A350-1000,Solo Leisure,,Vancouver to London Heathrow,June 2024,3,3,3,3,1,2,no,5,“a very poor last impression of BA”,✅ Trip Verified,British Airways new Club Suite is a marked imp...
2,2024-06-18,Caleb Lowe,United Kingdom,A320/A380,Couple Leisure,,Belfast to San Francisco via London,April 2024,5,5,3,3,5,4,yes,9,happy to recommend BA,✅ Trip Verified,"Four very pleasant, on time flights with frien..."
3,2024-06-18,N Thomas,United Kingdom,,Couple Leisure,,London Heathrow to Keflavik,June 2024,2,3,1,0,3,2,no,2,cancelled our return flight,Not Verified,We travel extensively over 25 years and tend t...
4,2024-06-17,N Carter,United Kingdom,Boeing 777,Solo Leisure,,New York JFK to London Heathrow,June 2024,5,5,4,3,1,2,yes,8,Very good experience all round,✅ Trip Verified,Flight delayed an hour due to bad weather arou...

In [246]:
#YAY we have a dataframe now!!

In [59]:
df.describe()

,date,name,place,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_and_beverages,inflight_entertainment,ground_service,value_for_money,recommended,ratingvalue,review_title,verification,review_content
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,713,865,55,81,5,1,649,67,6,6,6,6,6,5,2,10,985,4,1000
top,2019-12-08,E Smyth,United Kingdom,,Couple Leisure,,Vancouver to London,October 2019,1,5,1,0,1,1,no,1,Overall a good flight,✅ Trip Verified,While BA may have made some positive improveme...
freq,7,19,566,466,343,1000,9,36,252,248,261,478,396,448,680,365,3,759,1

In [60]:
path = 'BritishAirwayReviews.csv'
df.to_csv(path)